[Unit]
Description=OSCam
After=network.target

[Service]
ExecStart=/usr/local/bin/oscam -c /usr/local/etc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
